@define-color cc-bg rgba(0, 0, 0, 0.86666667);

/* TODO: Improve colours to match the bar and other desktop componants theme. */

.widget-volume {
	background-color: transparent;
}

.low {
	border: 2px solid orange;
}

.critical {
	border: 2px solid #e01b24;
}
